<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="new()">Agregar</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Precio Bonificado</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca?.nombre}}</td>
                        <td>{{producto.precioUnitario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>