<div class="container">
    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="new()">Agregar</button>
        </div> 
    </div>
    <div class="d-flex flex-row-reverse">
        <div >
            <button  class="align-items-left" type="button" class="btn btn-primary">Buscar</button>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Codigo/Nombre">
        </div> 
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Precio Bonificado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca?.nombre}}</td>
                        <td>{{producto.precioUnitario | currency}} </td>
                        <td>{{producto.precioUnitario | currency}}</td>
                        <button type="button" class="btn btn-success" (click)="edit(producto.id)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="deleteEntity(producto.id)">Borrar</button>
                    </tr>
            </table>
        </div>
    </div>
</div>