<div class="container">
    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="new()">Agregar</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="openBonificacion()">Bonificacion</button>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div>
            <button class="align-items-left" type="button" class="btn btn-primary" (click)="searchNombre()"><i
                    class="bi bi-search"></i></button>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control" [(ngModel)]="search" (ngModelChange)="clearSearch()"
                placeholder="Codigo/Nombre">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Talle</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Precio Bonificado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.marca?.nombre}}</td>
                        <td>{{producto.talle}}</td>
                        <td>{{producto.precioUnitario?.toString() | currency}} </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="edit(producto.id)"> <i
                                    class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-danger" (click)="deleteEntity(producto.id)"><i
                                    class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <app-paginator *ngIf="pagination.total > LIMIT && !loading" [currentPage]="pagination.page" [perPage]="LIMIT"
        [total]="pagination.total" (changePage)="onChangePage($event)"></app-paginator>
</div>