<div class="container">
    <div  class="d-flex flex-row mb-3">
        <form [formGroup]="form">
            <div class="p-2">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
            </div>
            <div class="p-2">
                <label>Codigo</label>
                <input type="text" class="form-control" formControlName="codigo">
            </div>
            <div class="p-2">
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Guardar</button>
            </div>
        </form>
    </div>
</div>