<div class="container">
    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="new()">Agregar</button>
        </div>
        <div class="col-auto">
            <input type="file" style="display: none;" #fileInput (change)="onFileChange($event)">
            <button type="button" class="btn btn-primary" (click)="fileInput.click()">Importar</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let marca of marcas">
                        <td>{{marca.nombre}}</td>
                        <td>{{marca.codigo}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm"(click)="edit(marca.id)"><i
                                class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-danger btn-sm"(click)="deleteEntity(marca.id)"><i
                                class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-paginator *ngIf="pagination.total > LIMIT && !loading" [currentPage]="pagination.page" [perPage]="LIMIT"
        [total]="pagination.total" (changePage)="onChangePage($event)"></app-paginator>
</div>