<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="new()">Agregar</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let marca of marcas">
                        <td>{{marca.nombre}}</td>
                        <td>{{marca.codigo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>